<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include header.html %}
<body>
<main class="main">
{% include navigation.html %}
<div class="container mt-4">
{{ content }}
</div>
</main>
</body>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
<div id="snipcart" data-api-key="{{site.snipcart_api_key}}" hidden data-config-modal-style="side"></div>
{% include footer.html %}
</html>